<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="${pageTitle}">Tiêu đề mặc định</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
    <!-- third party css -->
    <link th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/vendor/dataTables.bootstrap4.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/vendor/responsive.bootstrap4.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/vendor/buttons.bootstrap4.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/vendor/select.bootstrap4.css}" rel="stylesheet" type="text/css"/>
    <!-- third party css end -->

    <!-- App css -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/app-modern.min.css}" rel="stylesheet" type="text/css" id="light-style"/>
    <link th:href="@{/assets/css/app-modern-dark.min.css}" rel="stylesheet" type="text/css" id="dark-style"/>

</head>

<body class="loading" data-layout="detached"
      data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": false}'>

<!-- Topbar Start -->
<div th:replace="~{fragments/topBar :: topBar}"></div>
<!-- end Topbar -->

<!-- Start Content-->
<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{fragments/leftSidebar :: left-bar}"></div>
        <!-- Left Sidebar End -->

        <div class="content-page">

            <div class="content">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <!--                                            <div class="page-title-right">-->
                            <!--                                                <ol class="breadcrumb m-0">-->
                            <!--                                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>-->
                            <!--                                                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>-->
                            <!--                                                    <li class="breadcrumb-item active">OrdetoggleOtherReason Details</li>-->
                            <!--                                                </ol>-->
                            <!--                                            </div>-->
                            <h4 class="page-title" th:text="'Đơn mượn sách ' + ${borrowRecord.id}"></h4>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="header-title pt-2" th:text="'Đơn mượn sách ' + ${borrowRecord.id}"></h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <h4 class="header-title mb-3">Thông tin sinh viên</h4>

                                <h5 th:text="'Đơn mượn sách ' + ${borrowRecord.student.name}">Nguyễn Văn A</h5>

                                <p class="mb-2">
                                    <span class="font-weight-bold mr-2">Email:</span>
                                    <span th:text="${borrowRecord.student.email}"></span>
                                </p>
                            </div> <!-- end col -->
                            <div class="col-lg-4">
                                <h4 class="header-title mb-3">Thời gian</h4>

                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <tbody>
                                        <tr>
                                            <th>Ngày nhận đơn :</th>
                                            <td th:text="${#dates.format(borrowRecord.createdAt, 'dd-MM-yyyy')}"></td>
                                        </tr>
                                        <tr>
                                            <th>Thời gian nhận sách :</th>
                                            <td th:text="${#dates.format(borrowRecord.borrowDate, 'dd-MM-yyyy')}"></td>
                                        </tr>
                                        <tr>
                                            <th>Thời hạn trả sách :</th>
                                            <td th:text="${#dates.format(borrowRecord.dueDate, 'dd-MM-yyyy')}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end table-responsive -->

                            </div> <!-- end col -->
                            <div class="col-lg-5">
                                <div class="table-responsive">
                                    <table class="table mb-0" id="tableBook">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên sách</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="book : ${borrowRecord.books}">
                                            <td th:text="${book.id}"></td>
                                            <td th:text="${book.title}"></td>
                                            <td>
                                                <span
                                                        th:each="returnRecord : ${borrowRecord.returnRecords}"
                                                        th:if="${returnRecord.book.id == book.id}"
                                                        th:text="${returnRecord.status.getDisplayName()}"></span>
                                                <!-- Nếu không có thì hiển thị 'Chưa bàn giao' -->
                                                <span th:if="${borrowRecord.returnRecords.size()==0}">
                                                     Chưa bàn giao
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- end table-responsive -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- end card-body -->
                </div> <!-- end card -->

                <!-- Trạng thái và hành động -->
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="header-title pt-2"> Yêu cầu gia hạn thời gian</h4>
                                    </div>
                                    <div class="card-body">


                                        <div class="table-responsive">
                                            <table class="table table-centered w-100 dt-responsive "
                                                   id="basic-datatable">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th class="text-center">Mã yêu cầu</th>
                                                    <th class="text-center">Mã số sinh viên</th>
                                                    <th class="text-center">Ngày tạo</th>
                                                    <th class="text-center">Thời gian nhận sách cũ</th>
                                                    <th class="text-center">Thời hạn trả sách cũ</th>
                                                    <th class="text-center">Thời gian nhận sách mới</th>
                                                    <th class="text-center">Thời hạn trả sách mới</th>
                                                    <th class="text-center">Trạng thái</th>
                                                    <th class="text-center">Hành động</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="renewalRecord : ${renewalRecords }">
                                                    <td class="text-center" th:text="${renewalRecord.id}"/>
                                                    <td th:text="${renewalRecord.borrowRecord.student.id}"
                                                        class="text-center"/>
                                                    <td th:text="${#dates.format(renewalRecord.createdAt, 'dd-MM-yyyy')}"
                                                        class="text-center"/>
                                                    <td th:text="${#dates.format(renewalRecord.originalBorrowDate, 'dd-MM-yyyy')}"
                                                        class="text-center"/>
                                                    <td th:text="${#dates.format(renewalRecord.originalDueDate, 'dd-MM-yyyy')}"
                                                        class="text-center"/>
                                                    <td th:text="${#dates.format(renewalRecord.requestBorrowDate, 'dd-MM-yyyy')}"
                                                        class="text-center"/>
                                                    <td th:text="${#dates.format(renewalRecord.requestDueDate, 'dd-MM-yyyy')}"
                                                        class="text-center"/>

                                                    <td class="text-center">
                                                        <h5 th:switch="${#strings.trim(#strings.toUpperCase(renewalRecord.status.name))}">
                                                    <span th:case="'PENDING'" class="badge badge-success-lighten">
                                                        <i class="mdi mdi-timer-sand"></i>
                                                        <span th:text="${renewalRecord.status.displayName}">Đang chờ xử lí</span>
                                                    </span>
                                                            <span th:case="'ACCEPTED'" class="badge badge-info-lighten">
                                                        <i class="mdi mdi-timer"></i>
                                                        <span th:text="${renewalRecord.status.displayName}">Được chấp thuân</span>
                                                    </span>
                                                            <span th:case="'OVERDUE'"
                                                                  class="badge badge-light-lighten">
                                                           <i class="mdi mdi-clipboard-check-multiple-outline"></i>
                                                        <span th:text="${renewalRecord.status.displayName}">Hết hạn</span>
                                                    </span>
                                                            <span th:case="'CANCELLED'"
                                                                  class="badge badge-light-lighten">
                                                            <i class="mdi mdi-clipboard-check-multiple-outline"></i>   <span
                                                                    th:text="${renewalRecord.status.displayName}">Bị từ chối</span>
                                                    </span>

                                                            <span th:case="*">Giá trị không hợp lệ:
                                                        <p th:text="${renewalRecord.status}"></p>
                                                    </span>
                                                        </h5>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="row justify-content-around" th:if="${renewalRecord.status.name().equals('PENDING')}">
                                                            <div id="renewalRecordId" th:data-renewal-record-id="${renewalRecord.id}" style="display:none;"></div>
                                                            <button class="btn btn-danger" data-toggle="modal" data-target="#reject-modal"> Từ chối</button>
                                                            <button class="btn btn-primary" data-toggle="modal" data-target="#accept-modal"> Chấp nhận</button>
                                                        </div>

                                                    </td>



                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- end col -->

            </div> <!-- end row -->
        </div> <!-- End Content -->
        <div id="accept-modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="primary-header-noted-modal">
            <!-- Modal Content -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header bg-primary">
                        <h4 class="modal-title" id="primary-header-noted-modal">
                            Xác nhận chấp nhận gia hạn thời gian</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                    </div>

                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-light"
                                data-dismiss="modal">
                            Đóng
                        </button>
                        <button type="button" class="btn btn-primary  button-confirm"
                                onclick="updateStatus('ACCEPTED')">Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="reject-modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="primary-header-noted-modal">
            <!-- Modal Content -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header bg-primary">
                        <h4 class="modal-title" id="primary-header-reject-modal">
                            Xác nhận từ chối gia hạn thời gian</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                    </div>

                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-light button-close"
                                data-dismiss="modal">
                            Đóng
                        </button>
                        <button type="button" class="btn btn-primary button-confirm"
                                onclick="updateStatus('CANCELLED')">Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Start -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- end Footer -->

    </div> <!-- content-page -->
</div> <!-- end wrapper-->
</div> <!-- END Container -->

<!-- Right Sidebar -->
<div th:replace="~{fragments/rightSidebar :: right-bar}"></div>
<!-- /Right-bar -->

<!-- bundle -->
<script th:src="@{/assets/js/vendor.min.js}"></script>
<script th:src="@{/assets/js/app.min.js}"></script>

<!-- third party js -->
<script th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/vendor/dataTables.bootstrap4.js}"></script>
<script th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/js/vendor/responsive.bootstrap4.min.js}"></script>
<!-- third party js ends -->

<!-- demo app -->
<script>
    $(document).ready(function () {
        "use strict";

        $("#tableBook").DataTable({
            keys: !0,
            searching: false,
            paging: false,
            lengthChange: false,
            info: false
        });


        function updateStatus(newStatus) {
            const renewalRecordId = $('#renewalRecordId').data('renewal-record-id');
            const csrfToken = $("meta[name='_csrf']").attr("content");
            const csrfHeader = $("meta[name='_csrf_header']").attr("content");

            if (!isNaN(renewalRecordId)) {
                $.ajax({
                    url: '/renewalRecords/' + renewalRecordId ,
                    type: 'PATCH',
                    contentType: 'application/json',
                    data:  newStatus,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                        $(".button-confirm").html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
                    },
                    success: function () {
                        $.NotificationApp.send("Cập nhật thành công", "Trạng thái đã được cập nhật", "top-right", "#5ba035", "success");
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    },
                    error: function () {
                        $(".button-confirm").html('Cập nhật');
                        $.NotificationApp.send("Lỗi", "Có lỗi xảy ra khi cập nhật", "top-right", "#bf441d", "error");
                    }

                });
            } else {
                alert('ID không hợp lệ: ' + borrowRecordId);
            }
        }

        window.updateStatus = updateStatus;
    });
</script>
</body>
</html>